<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Constructor Injection -->
    <bean id="studentCI" class="com.klu.student.Student">
        <constructor-arg value="101"/>
        <constructor-arg value="Alice"/>
        <constructor-arg value="Computer Science"/>
        <constructor-arg value="2"/>
    </bean>

    <!-- Setter Injection (course and year overridden via setters) -->
    <bean id="studentSI" class="com.klu.student.Student">
        <constructor-arg value="102"/>
        <constructor-arg value="Bob"/>
        <constructor-arg value="placeholder"/>
        <constructor-arg value="0"/>
        <property name="course" value="Information Technology"/>
        <property name="year"   value="3"/>
    </bean>

</beans>
